
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <link href="~/css/materialize.css" rel="stylesheet" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Macrosoft</title>
</head>
<body>
    <div> 

        @RenderBody()

    </div>

    <script src="~/js/materialize.min.js"></script>
</body>
</html>
