
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <link href="~/css/materialize.css" rel="stylesheet" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Macrosoft</title>
</head>
<body>
    <nav>
        <div class="nav-wrapper blue-grey lighten-1">
            <a href="#" class="brand-logo"><i class="material-icons">bubble_chart</i>Macrosoft</a>
            <ul id="nav-mobile" class="right hide-on-med-and-down">
                <li><a href="~/Home/Index">Add-Ins</a></li>
            </ul>
        </div>
    </nav>
    <div>
        @RenderBody()
    </div>
    <script src="~/js/jquery-3.1.1.min.js"></script>
    <script src="~/js/materialize.min.js"></script>
</body>
</html>
